<header>
  <nav class="navbar">
    <div class="navbar-nav-s1 bg-c-purple-darker">
      <div class="flex items-center m-4">
        <img src="/svg/Trone.svg" class="w-12" />
        <h1 class="nav-text text-2xl pl-6 font-bold text-c-whitesmoke">
          TRONE
        </h1>
      </div>
    </div>
    <ul class="navbar-nav-s2">
      <li class="nav-item">
        <a class="nav-link" href="/{{user}}/boards">
          <i
            class="fas fa-columns fa-2x ml-6 mr-22px text-c-whitesmoke"
          ></i>
          <span class="nav-text text-lg font-bold text-c-whitesmoke"
            >Boards</span
          >
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{user}}/favorites">
          <i
            class="fas fa-star fa-2x ml-22px mr-22px text-c-whitesmoke"
          ></i>
          <span class="nav-text text-lg font-bold text-c-whitesmoke"
            >Favorites</span
          >
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{user}}/settings">
          <i class="fas fa-cog fa-2x ml-6 mr-22px text-c-whitesmoke"></i>
          <span class="nav-text text-lg font-bold text-c-whitesmoke"
            >Settings</span
          >
        </a>
      </li>
    </ul>
    <ul class="navbar-nav-s3">
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <img
            src="/img/uploads/{{img}}"
            class="w-10 rounded-full ml-5 mr-5"
          />

          <span class="nav-text text-lg mr-3 font-bold">{{user}}</span>
          <i
            class="fas fa-sign-out-alt fa-lg nav-logout text-c-whitesmoke"
          ></i>
        </a>
      </li>
    </ul>
  </nav>
</header>

