<div
  class="flex flex-wrap items-center xs:flex-nowrap h-screen justify-center ml-80px md:pb-16"
>
  <div class="flex flex-col items-center m-12">
    <div class="my-2">
      <img
        src="/img/uploads/{{img}}"
        class="rounded-full overflow-hidden"
        width="128px"
        height="128px"
      />
    </div>
    <div class="text-center w-full my-2">
      <h1 class="text-2xl font-semibold">{{fName}} {{lName}}</h1>
    </div>
    <!-- Form -->
    <form class="w-full max-w-lg" id="settings_form" action="/{{user}}/settings" enctype="multipart/form-data" method="POST">
      <input type="hidden" name="username" value="{{user}}"/>
      <div class="flex flex-wrap -mx-3 mb-2">
        <h2 class="font-bold text-lg">Personal Information</h2>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-1/2 px-3 mb-4 md:mb-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">First Name</label>
            <input
              type="text"
              class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
              placeholder="First Name"
              value="{{fName}}"
              id = "fName"
              name="fName"
            />
            <p id="fNameError" class="error text-sm font-semibold text-red-500">{{fNameError}}</p>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-4 md:mb-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Last Name</label>
          <input
            type="text"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
            placeholder="Last Name"
            value="{{lName}}"
            id = "lName"
            name="lName"
          />
          <p id="lNameError" class="error text-sm font-semibold text-red-500">{{lNameError}}</p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <h2 class="font-bold text-lg">Account Information</h2>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3 mb-4 md:mb-2">
          <div class="flex justify-between">
            <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            >Password</label>
            <p id="passwordError" class="error text-sm font-semibold text-red-500">{{passwordError}}</p>
          </div>
          <input
            type="password"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
            placeholder="Password"
            id="password"
            name="password"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3 mb-4 md:mb-2">
          <div class="flex justify-between">
            <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            >Email</label>
          <p id="emailError" class="error text-sm font-semibold text-red-500">{{emailError}}</p>
          </div>
          <input
            type="email"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
            placeholder="Email"
            value="{{email}}"
            id="email"
            name="email"
            required
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3 mb-4 md:mb-2">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            >User Image</label
          >
          <input
            type="file"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
            name="image"
            id="upload-image"
            accept="image/*"
          />
        </div>
      </div>
    </form>

    <!--  Buttons -->
    <div class="flex flex-row w-full justify-between my-2">
      <div>
        <button
          class="bg-gray-300 hover:bg-red-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-400 hover:border-transparent rounded"
          id="deactivate-button"
        >
          Deactivate
        </button>
      </div>
      <div>
        <button
          class="bg-gray-300 hover:bg-green-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-400 hover:border-transparent rounded"
          id="save-button"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
{{>_saveInfoModal}}
{{>_deactivateModal parameter=user}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js" integrity="sha512-V8cSoC5qfk40d43a+VhrTEPf8G9dfWlEJgvLSiq2T2BmgGRmZzB8dGe7XAABQrWj3sEfrR5xjYICTY4eJr76QQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.6.0/validator.min.js" integrity="sha512-xYHcfaQeUiKHs9YsHqjpyLaHnh+q7y8kYuOGdh5FkJeK7Z+dZct7Yoa7h+PtsrKRh03t8eJZuSeCN7b0dkrFwA==" crossorigin="anonymous"></script>
<script src="/js/modals.js"></script>
<script src="/js/boardSettings.js"></script>
<script src="/js/updateSettingValidation.js"></script>
